<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mateo Magdaleno </strong>
    <p>Esto es una app definitivamente <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">-_-</a></p>
  </div>
</ion-content>
